body {
    background: #0c739f url("../img/background.png") repeat-x;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: white;
    font-size: 0px;
    line-height: 0px;
}

.clear_fix:after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    float: left;
    padding: 11px 0 0 30px
    /*padding-top: 10px;*/
}

.contacts {
    float: right;
    font-size: 12px;
    line-height: normal;
    padding: 5px 35px 35px 0;
    color: #128aa7;
}

.contacts h1 {
    font-weight: bold;
    line-height: 20px;
}

.countries {
    float: right;
    clear: right;
    margin-right: 30px;
    font-size: 10px;
    line-height: normal;
}

.countries li {
    display: block;
    float: right;
    width: 60px;
    height: 30px;
    text-align: center;
}

.countries a {
    font-size: 9px;
    color: #128aa7;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
}

.beach {
    background-color: red;
    font-size: 0px;
}

.menu {
    background-color: #333333;
    padding-left: 11px;
    z-index: 2;
    position: relative;
}

li.menu__item {
    float: left;
    position: relative;
    width: 140px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.menu li a:hover {
    background-color: #424242;
}

.submenu {
    background-color: #323232;
    box-shadow: 0px 0px 2px 4px solid;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

li:hover .submenu {
    visibility: visible;
    opacity: 1;
    top: 35px;
}

.menu li a {
    background: #333;
    display: block;
    padding: 5px;
    text-align: center;
    line-height: 25px;
    z-index: 2;
    position: relative;
}

.submenu>li>a {
    text-align: left;
    z-index: 1;
    position: relative;
}



.menu li:nth-child(n+2):nth-child(-n+4) a {
   padding-left: 10px;
   text-align: left;
}

.middle {
    height: 600px;
    overflow: hidden;
}

.right__sidebar h2,
.left__sidebar h2 {
    color: #424c43;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    font-weight: bold;
}

.right__sidebar p,
.left__sidebar p {
    font-size: 14px;
    color: #424c43;
    padding-left: 20px;
    line-height: 24px;
}

.left__sidebar {
    float: left;
    width: 20%;
    height: 1000px;
    background-color: #EDEEF0;
    color: #707771;
}

.right__sidebar {
    float: right;
    width: 20%;
    height: 1000px;
    color: #707771;
    background-color: #EDEEF0;
}

.content {
    background-color: #ffffff;
    height: 1000px;
    width: 60%;
    float: left;
}

.footer p {
    color: #cee3ec;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
body {
    background: #0c739f url("../img/background.png") repeat-x;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: white;
    font-size: 0px;
    line-height: 0px;
}

.clear_fix:after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    float: left;
    padding: 11px 0 0 30px
    /*padding-top: 10px;*/
}

.contacts {
    float: right;
    font-size: 12px;
    line-height: normal;
    padding: 5px 35px 35px 0;
    color: #128aa7;
}

.contacts h1 {
    font-weight: bold;
    line-height: 20px;
}

.countries {
    float: right;
    clear: right;
    margin-right: 30px;
    font-size: 10px;
    line-height: normal;
}

.countries li {
    display: block;
    float: right;
    width: 60px;
    height: 30px;
    text-align: center;
}

.countries a {
    font-size: 9px;
    color: #128aa7;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
}

.beach {
    background-color: red;
    font-size: 0px;
}

.menu {
    background-color: #333333;
    padding-left: 11px;
    z-index: 2;
    position: relative;
}

li.menu__item {
    float: left;
    position: relative;
    width: 140px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.menu li a:hover {
    background-color: #424242;
}

.submenu {
    background-color: #323232;
    box-shadow: 0px 0px 2px 4px solid;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

li:hover .submenu {
    visibility: visible;
    opacity: 1;
    top: 35px;
}

.menu li a {
    background: #333;
    display: block;
    padding: 5px;
    text-align: center;
    line-height: 25px;
    z-index: 2;
    position: relative;
}

.submenu>li>a {
    text-align: left;
    z-index: 1;
    position: relative;
    padding-left: 18px;
}


/*.menu__item ul li:nth-child(3) {
   padding-left: 15px;
}*/

.middle {
    height: 600px;
    overflow: hidden;
}

.right__sidebar h2,
.left__sidebar h2 {
    color: #424c43;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    font-weight: bold;
}

.right__sidebar p,
.left__sidebar p {
    font-size: 14px;
    color: #424c43;
    padding-left: 20px;
    line-height: 24px;
}

.left__sidebar {
    float: left;
    width: 20%;
    height: 1000px;
    background-color: #EDEEF0;
    color: #707771;
}

.right__sidebar {
    float: right;
    width: 20%;
    height: 1000px;
    color: #707771;
    background-color: #EDEEF0;
}

.content {
    background-color: #ffffff;
    height: 1000px;
    width: 60%;
    float: left;
}

.footer p {
    color: #cee3ec;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}