@font-face {
    font-family: 'League Gothic';
    src: url("../fonts/leaguegothic/leaguegothic-regular-webfont.eot");
    src: url("../fonts/leaguegothic/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-regular-webfont.eot");
    src: url("../fonts/opensans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans/opensans-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url("../fonts/opensans/opensans-light-webfont.eot");
    src: url("../fonts/opensans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/opensans-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.wrapper-header-page {
    background: url(../img/header-bg.png) no-repeat center center fixed;
    background-size: cover;
}

.header-page {
    margin: auto;
    padding-bottom: 10.75rem;
    padding-top: 4.25rem;
    width: 60rem;
}

.site-logo {
    color: #fff;
    font-size: 3rem;
    font-family: 'League Gothic';
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 9.875rem;
}

.site-logo__accent {
    background: linear-gradient(to bottom, #734F82 0%, #5A3F66 50%, #51395B 75%, #3F2E48 87.5%, #3C2B44 93.75%, #35273d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    float: right;
    font-size: 1.45rem;
    font-family: 'League Gothic';
    width: 38.75rem;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.menu-item {
    display: inline-block;
    margin-right: 3rem;
}

.menu-item__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px #8d8285;
}

.menu-item__link:hover {
    border-bottom: 3px solid #edbfff;
    text-shadow: 0 0 4px rgba(250, 250, 255, 0.6);
}

.substrate-slider {
    padding-bottom: 9.5rem;
    background: rgba(0, 0, 0, 0.2);
}

.slider {
    width: 60rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 24.5rem;
    position: relative;
}

.slider__large-title {
    color: #fefefe;
    font-size: 3.75rem;
    font-family: "League Gothic", Arial, sans-serif;
    line-height: 1.1;
    padding-top: 1.7rem;
    text-transform: capitalize;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
}

.slider__small-title {
    color: #edbfff;
    font-size: 2.12rem;
    font-family: "League Gothic", Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
}

.slider-content {
    margin-top: 2.5rem;
    margin-right: 10rem;
    /*position: relative;*/
    width: 30rem;
    height: auto;
}

.content {
    color: #fff;
    display: block;
    font-size: 1.125rem;
    font-family: 'Open Sans Light', Arial, sans-serif;
    overflow: hidden;
    line-height: 1.4;
    margin-top: .5rem;
    max-height: 100%;
    word-wrap: break-word;
}

.slider-image {
    top: -1.5rem;
    position: relative;
}

.slider__nav {
    position: absolute;
    bottom: -5rem;
    right: 8.5rem;
}

.substrate__color_gradient {
    background-image: linear-gradient(to bottom, #745083 0%, #6A4A78 50%, #533B5E 75%, #46324F 87.5%, #3A2A42 93.75%, #35273c 100%);
    height: 20.63rem;
}

.first-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-top: 5rem;
}

.first-cell,
.second-cell {
    margin-right: 5rem;
}

.cell-title {
    color: #fff;
    font-size: 1.55rem;
    font-family: 'League Gothic', Arial, sans-serif;
    letter-spacing: 0.0625rem;
    text-shadow: 1px 1px 1px #0F1518;
    text-transform: uppercase;
}

.cell {
    width: 15rem;
    height: 14rem;
}

.description-company {
    color: #fff;
    font-size: 1rem;
    font-family: "Open Sans Light", Tahoma, sans-serif;
    overflow: hidden;
    line-height: 1.5;
    margin-top: .5rem;
    max-height: 7.5rem;
    word-wrap: normal;
}

.more-info {
    font-family: 'League Gothic', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 1px 1px #15181e;
    margin-top: 1.5rem;
    display: inline-block;
}

.more-info:hover {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
}